@media only screen and (max-width: 1081px) and (orientation: portrait) {
  /* landing page */
  .front-container {
    display: flex;
  }

  .front-text {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .front-img {
    display: none;
  }

  .filters {
    flex-direction: column;
  }

  .form-group {
    align-self: baseline;
    margin-left: 20px;
  }
  .toggle-howto {
    width: 100%;
  }
  .filter-container {
    flex-direction: column;
  }
  h3 {
    padding-left: 1em;
  }
  .article-wrapper {
    width: 100%;
    margin: 0px;
    padding: 10px;
  }
  .filtered-content > .article-wrapper:nth-child(5n + 1) {
    width: 100%;
  }
  .filtered-content > .article-wrapper:nth-child(5n + 2) {
    width: 100%;
  }
  .filtered-content > .article-wrapper:nth-child(5n + 3) {
    width: 100%;
  }
  .filtered-content > .article-wrapper:nth-child(5n + 4) {
    width: 100%;
  }
  .filtered-content > .article-wrapper:nth-child(5n + 5) {
    width: 100%;
  }
  .mobile-img-1 {
    display: block;
    position: absolute;

    width: 20%;
    bottom: 10px;
    left: 10px;
    opacity: 0.4;
    z-index: 1;
  }
  .mobile-img-2 {
    display: block;
    position: absolute;
    width: 20%;
    bottom: 10px;
    right: 10px;
    opacity: 0.4;
    z-index: 1;
  }
  .downArrow {
    display: none;
  }
}
